
#divBusca{
    background-color:#D9C5AE;
    border:solid 1px;
    border-radius:15px;
    width:300px;
    float: right;
  }
  
  #textoBusca{
    border:solid 1px;
    border-radius:15px;
    
    
    padding-left: 5px;
    background-color:transparent;
    
    font-style:italic;
    font-size:18px;
    border:none;
    height:20px;
    width:260px;
  }

#divBusca, #textoBusca{
    float: top right;
    margin-top: -32px;
    margin-right: 5px;


}
img{
    background-color: transparent;
}
